responsible for rendering the review form 


<%# <form action="/reviews" method="reviews">
    Title: <input type="text" name="title">
    Content: <textarea name="content"></textarea>
    <input type="submit" value="Create Review">
</form> %>