<!DOCTYPE html>
<html>
<body>

<p style = "font-family: didot; font-size:25px">
<h1>Welcome to Rave!</h1>
<h2>See what users have to say about local restaurants</h2>
</p>

<p style = "font-family: didot">
<a class="button" href="/signup">Sign Up</a>  | 
<a class="button" href="/login">Log In</a> |
<a class="button" href="/logout">Log Out</a> | 
</p>
</body>
</html>